


.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.block {
    width: 300px;
    height: 60px;
    background: #657ec4;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}






























